import os

DEBUG = True
SANDBOX = True
TEMPLATE_DEBUG = DEBUG

BASEDIR = os.path.dirname(__file__)

ADMINS = (
    # ('Your Name', 'your_email@domain.com'),
)

MANAGERS = ADMINS

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': os.path.join(BASEDIR, 'data.sqlite'),
    }
}

#EMAIL_HOST = 'smtp.gmail.com'
#EMAIL_HOST_USER = 'username@googlemail.com'
#EMAIL_HOST_PASSWORD = 'xxxxxxxx'
#EMAIL_USE_TLS = True
#EMAIL_PORT = 587

# Absolute path to the directory that holds the project sources
# Make sure to use a training slash
STATIC_FILES_ROOT = 'static_files_root'
#ROOT_URLCONF = 'projecturls'
APP_NAME = 'django'
STATIC_APP_NAME = 'static'
MEDIA_APP_NAME = 'media'

SECRET_KEY = 'projectsecretkey'
